// 00_bits/vars

$brand: #0f314e; // Brand Blue
$brand_aux: #8b836e;
$button-color: #bc9d5f; // Brand Gold
$box-color: #ffffff;

$off-white: #f2eeed;
$off_white_alt: #f4f2f1;
$gray: #dedede;
$black: #000;